<div class="Pie">
          
    <h6 class="Tipografia3"><img class="logo-pie" src="./img/LOGO/logo2.jpg">COPYRIGHT BLACK HAWK&reg;</h6>
    <h6 class="Tipografia3">TODOS LOS DERECHOS RESERVADOS.</h6>
    <h6 class="Tipografia3">PARA RECLAMOS <span class="ingresar-aqui"> <a class="a-ingresar-aqui"  href="mailto:blackhawkindumentaria@gmail.com">INGRESAR AQUI</a> </span></h6>
  </div>