<div class="logo">
    <img id="logo-calavera" src="./img/LOGO/Logo-Calavera-Alas.jpg" alt="Calavera con casco y alas debajo el nombre del local de ropa">
</div>

<nav class="barra">
    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link active Tipografia3 top" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
        <a class="nav-link Tipografia3 top" href="/Remeras">Remeras</a>
        </li>
        <li class="nav-item">
        <a class="nav-link Tipografia3 top"  href="/Pantalones">Pantalones y Bermudas</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active Tipografia3 top" aria-current="page" href="#">Medias</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active Tipografia3 top" aria-current="page" href="#">Gorras</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active Tipografia3 top" aria-current="page" href="#">Zapatillas</a>
        </li>    
    </ul>        
</nav> 