<h5 class="Tipografia Redes">Redes Sociales y Contacto</h5>
<div class="Iconos">
    <a href="https://www.facebook.com/blackhawkarg"><img class="Facebook" src="./img/LOGO FOOTER/logo facebook.jpeg" alt="logo de Facebook"></a>
    <a href="https://www.instagram.com/blackhawkarg/"><img class="Instagram" src="./img/LOGO FOOTER/Logo Instagram.jpeg" alt="logo de Instagram"></a>
    <a href="mailto:blackhawkindumentaria@gmail.com"><img class="Gmail" src="./img/LOGO FOOTER/gmail-logo.png" alt="logo de Gmail"></a>
    <a href="https://g.page/BlackHawkarg?share"><img class="Maps" src="./img/LOGO FOOTER/maps logo.png" alt="logo de Google Maps"></a>
</div>

<ul class="nav justify-content-center">
<li class="nav-item">
  <a class="nav-link active Tipografia3" aria-current="page" href="https://www.facebook.com/blackhawkarg">@blackhawkarg</a>
</li>
<li class="nav-item">
  <a class="nav-link Tipografia3" href="https://www.instagram.com/blackhawkarg/">BLACK HAWK®</a>
</li>
<li class="nav-item">
  <a class="nav-link Tipografia3" href="mailto:blackhawkindumentaria@gmail.com">blackhawkindumentaria@gmail.com</a>
</li>
<li class="nav-item">
  <a class="nav-link Tipografia3" href="https://g.page/BlackHawkarg?share">Ubicacion: Entre Rios 2232 3300 Posadas,Misiones,Argentina</a>
</li>
</ul>