<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include("../parcials/head.ejs")%>
    <title>BLACK HAWK | Pantalones y BERMUDAS</title>
</head>

<body>
    <header>
        <%-include("../parcials/header.ejs")%>
    </header>

    <main>

        <div class="Pantalones">
            <div class="tarjetas">
                <img class="pantalones-size" src="./img/PANTALONES Y SHORTS/pantalon-gab-amber.JPG" alt="pantalon color amber">
                <p class="descripcion">Pantanlon de Gabardina Amber.<br>Precio:$2000.<br>38-50</p>
            </div>
            <div class="tarjetas">
                <img class="pantalones-size" src="./img/PANTALONES Y SHORTS/pantalon-gab-black.JPG" alt="pantalon color negro">
                <p class="descripcion">Pantanlon de Gabardina Black.<br>Precio:$2000.<br>38-50</p>
            </div>
        </div>

        <div class="Bermudas">
            <div class="tarjetas">
                <img class="bermudas-size" src="./img/PANTALONES Y SHORTS/Bermuda-Jean-Celeste.jpg" alt="bermuda jean color celeste claro">
                <p class="descripcion">Bermuda Jean Celeste.<br>Precio:$2000.<br>38-50</p>
            </div>
            <div class="tarjetas">
                <img class="bermudas-size" src="./img/PANTALONES Y SHORTS/short-gab-black.JPG" alt="bermuda negra con pequenas imagenes de tragos">
                <p class="descripcion">Bermuda Gabardina Drinks.<br>Precio:$2000.<br>38-50</p>
            </div>
            <div class="tarjetas">
                <img class="bermudas-size" src="./img/PANTALONES Y SHORTS/short-gab-white.JPG" alt="bermuda beige">
                <p class="descripcion">Bermuda Gabardina Drinks.<br>Precio:$2000.<br>38-50</p>
            </div>
        </div>

    </main>

    <section class="Redes-sociales">
        <%-include("../parcials/redesSocialesSection.ejs")%>
    </section>

    <footer>
        <%-include("../parcials/footer.ejs")%>
    </footer>

  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

</body>
</html>