<!DOCTYPE html>
<html lang="en">
  
<head>
   
    <%-include("../parcials/head.ejs")%>
    <title>BLACK HAWK | Vestimenta Hombres</title>
</head>

<body>
    <header>
      <%-include("../parcials/header.ejs")%>
    </header>

    <main class="container">
      <div class="row">
        <section class="col-9">
              <p class="Tipografia2 texto"><span class="Black-Hawk">BLACK HAWK</span> es una tienda de ropa y accesorios creada en 2019. Esta propuesta nace con la intencion de ofrecer al publico las mejores marcas de indumentaria urbana a un precio accesible.</p>
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active altura">
                        <img src="./img/CAROUSEL/modelo-tradicional6.JPG" class="d-block w-100" alt="Hombre de espalda usando una remera estilo tradicional logo de una bomba">
                    </div>
                    <div class="carousel-item altura">
                      <img src="./img/CAROUSEL/medias4.JPG" class="d-block w-100" alt="foto de cerca de unas medias que lleva puesto un modelo">
                    </div>
                    <div class="carousel-item altura">
                        <img src="./img/CAROUSEL/zapatillas-local2.JPG" class="d-block w-100" alt="Tres pares de Zapatillas exhibidas en un mueble">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>

        <section class="col-3">
              <aside>
                <h1 class="Tipografia Nov-Nues">Nuestro Local</h1>
                    <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./img/ADENTRO DEL LOCAL/gorras-local.jpeg" class="d-block w-100" alt="Fotos de algunos modelos de Gorras haciendo enfoque a la primera en fila">
                        </div>
                        <div class="carousel-item">
                            <img src="./img/ADENTRO DEL LOCAL/medias-local.jpeg" class="d-block w-100" alt="foto de tres tipos de modelos de Medias exhibidos en un mueble">
                        </div>
                        <div class="carousel-item">
                            <img src="./img/ADENTRO DEL LOCAL/remeras-local1.jpeg" class="d-block w-100" alt="fotos de variedades de remeras de distintos colores y talles">
                        </div>
                        <div class="carousel-item">
                          <img src="./img/ADENTRO DEL LOCAL/vidriera-local.jpeg" class="d-block w-100" alt="foto de remeras-medias-gorras-accesorios exhibidos en un mueble para la vidriera">
                        </div>
                        <div class="carousel-item">
                        <img src="./img/ADENTRO DEL LOCAL/zapatillas-local2.JPG" class="d-block w-100" alt="Foto de tres variedades de Zapatillas exhibidas en mueble para la vidriera">
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
              </aside>

            <article>
                <h3 class="Tipografia Nov-Nues">Novedades de Proximos Productos</h3>
                <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="./img/MEDIAS/medias1.JPG" class="d-block w-100" alt="modelo exhibiendo medias color blancas con el numero trece estampado color negro">
                      </div>
                      <div class="carousel-item">
                        <img src="./img/MEDIAS/medias4.JPG" class="d-block w-100" alt="modelo exhibiendo medias color negras con martillos cruzados de color amarillos estampados">
                      </div>
                      <div class="carousel-item">
                        <img src="./img/MEDIAS/medias5.JPG" class="d-block w-100" alt="modelo exhibiendo medias color blancas con un dibujo estampado de laureles">
                      </div>
                      <div class="carousel-item">
                        <img src="./img/MEDIAS/medias7.JPG" class="d-block w-100" alt="modelo exhibiendo medias color negro con el numero trece de color blanco">
                      </div>
                      <div class="carousel-item">
                        <img src="./img/MEDIAS/medias8.JPG" class="d-block w-100" alt="modelo exhibiendo medias color blancas con calavera estampada">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </article>
        </section>
      </div>
    </main>
   
    <section class="Redes-sociales">
      <%-include("../parcials/redesSocialesSection.ejs")%>
    </section>

    <footer>
      <%-include("../parcials/footer.ejs")%>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
   
</body>
</html>