<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include("../parcials/head.ejs")%>
    <title>BLACK HAWK | Remeras</title>
</head>

<body>
    <header>
        <%-include("../parcials/header.ejs")%>
    </header>
  
    <main>
        <div class="Remeras"> 
            <div class="tarjetas"> 
                <img class="remeras-size" src="./img/REMERAS/modelo-tradicional5.JPG" alt="modelo exhibiendo remera gris con estampa">
                <p class="descripcion">Remera Tradicional de Algodon Premiun.<br>Precio:$1500.<br>S-Xl.</p>
            </div>
            <div class="tarjetas">
                <img class="remeras-size" src="./img/REMERAS/modelo-tradicional7.JPG" alt="modelo exhibiendo remera gris con estampa motivo calavera con cuchillo en la boca">
                <p class="descripcion">Remera Tradicional de Algodon Premiun.<br>Precio:$1500.<br>S-Xl.</p>
            </div>
            <div class="tarjetas">
                <img class="remeras-size" src="./img/REMERAS/modelo-tradicional8.JPG" alt="modelo exhibiendo remera gris con estampa motivo bomba nuclear">
                <p class="descripcion">Remera Tradicional de Algodon Premiun.<br>Precio:$1500.<br>S-Xl.</p>
            </div>
        </div>
      
      
        <div class="Remeras">
            <div class="tarjetas">
                <img class="remeras-size" src="./img/REMERAS/modelo-remera.jpeg" alt="modelo exhibiendo remera verde con estampa motivo calavera con una rosa en la boca">
                <p class="descripcion">Remera Clasic Urban de Algodon.<br>Precio:$1200.<br>S-Xl.</p>
            </div>
            <div class="tarjetas">
                <img class="remeras-size" src="./img/REMERAS/Remera-Night.jpg" alt="modelo exhibiendo remera lisa color negro">
                <p class="descripcion">Remera Lisa de Algodon.<br>Precio:$1000.<br>S-Xl.</p>
            </div>
            <div class="tarjetas">
                <img class="remeras-size" src="./img/REMERAS/modelo-tradicional1.JPG" alt="modelo exhibiendo remera gris con estampa">
                <p class="descripcion">Remera Tradicional de Algodon Premiun.<br>Precio:$1500.<br>S-Xl.</p>
            </div>
        </div>
     
        <div class="Remeras">
            <div class="tarjetas">
                <img class="remeras-size" src="./img/REMERAS/modelo-tradicional2.JPG" alt="modelo exhibiendo remera gris con estampa motivo calavera">
                <p class="descripcion">Remera Tradicional de Algodon Premiun.<br>Precio:$1500.<br>S-Xl.</p>
            </div>
            <div class="tarjetas">
                <img class="remeras-size" src="./img/REMERAS/modelo-tradicional3.JPG" alt="modelo exhibiendo remera negrada con estampa motivo una mano con roza">
                <p class="descripcion">Remera Tradicional de Algodon Premiun.<br>Precio:$1500.<br>S-Xl.</p>
            </div>
            <div class="tarjetas">
                <img class="remeras-size" src="./img/REMERAS/modelo-tradicional4.JPG" alt="modelo exhibiendo remera negra con estampa motivo un tigre">
                <p class="descripcion">Remera Tradicional de Algodon Premiun.<br>Precio:$1500.<br>S-Xl.</p>
            </div>
        </div>
    </main>

    <section class="Redes-sociales">
        <%-include("../parcials/redesSocialesSection.ejs")%>
    </section>

    <footer>
        <%-include("../parcials/footer.ejs")%>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>